We probably remember that we are working with 4-d data, where the dimensions are TIME x DEPTH x LAT x LON. 

The goal for this notebook is to loop through all the times and write the dates in YEARMONTHDAY format.

In [24]:
import numpy as np
from netCDF4 import Dataset
import datetime as td

Before we look at our data, here is an example of working with date and timedelta. Say you want to find out the date 10 years after March 9th, 2020:

In [25]:
march_9_2020 = td.date(2020,3,9)
print(march_9_2020)

2020-03-09

In [26]:
ten_years = td.timedelta(days =10*365) # this doesn't consider leap years

In [27]:
date_in_10_years = ten_years + march_9_2020
print(date_in_10_years)

2030-03-07

-------------------
# Now let's look at our data

The first thing is to import the dataset as a Dataset object

In [28]:
#do that here:
data = Dataset('/Users/brownscholar/Documents/Intern/Archive/intern-data-t0.nc')

Then we want to read in the time variable. Do that here:

In [29]:
# do that here: 
time = data['time']

Print the shape of the time variable:

In [35]:
# do that here:
print(time.shape)

(261,)

Before we start using datetime, in terminal (open a new window or tab) look at the units of time. Using this info, define a start date:

In [39]:
# do this here
start_date = td.date(1950,1,1)

In [72]:
# do this here
print(time[0])
t1 = float(time[0])
first_date = td.timedelta(hours = t1) + start_date
print(first_date)

for i in range(0,261):
    t1 = float(time[i])
    print(first_date)

377064
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17
2079-01-17

Now, looping through the time numpy array, calculate and print the date using timedelta:

--------------------
# Finally,
we want to turn these date objects into strings that are of the form YEARMONTHDAY. Here is an example of how to do this using the ``march_9_2020`` date we made before:

In [74]:
print(march_9_2020.strftime("%y") + march_9_2020.strftime("%m") + march_9_2020.strftime("%d")) 

# if this is confusing to you google the function "strftime"

200309

Add this to your loop and print the YEARMONTHDAY date for each date.

Now: How can we add this to our code to change our file names?

In [75]:
for i in range(0,261):
    t1 = float(time[i])
print(start_date.strftime("%y") + start_date.strftime("%m") + start_date.strftime("%d"))

360112